由于涉及到 Surface 的 deepcopy 问题，需要使用 pygame-ce（而非 pygame）。
地图界面，部分性能不足的电脑可能由于帧数跑不到设定帧数而影响移动速度，从而影响跑酷。
因此，烦请使用插电游戏本/台式机进行游玩，对带来的不便感到抱歉，万分感激。
游戏的字体路径需要用到FontPath = 'C:\\Windows\\Fonts\\simsun.ttc' （华文宋体字体路径），所以本地需要有此字体文件。
